/* border-width: do day
border-top-width: do day ben tren hoac xet do day ben duoi
border-style: kieu bo goc
border-color: mau
=> viet tat: border: 10px solid #333;
 */
 /* margin (khoang cach le)
 margin-top: day len tren 
 float: left =>  tat car cac o bi day sang ben trai
 
 */